body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: @c-383;
  background-color: @c-f9f;
}

.visible-desktop {
  @media(max-width: @screen-mobile) {
    display: none !important;
  }
}

.visible-mobi {
  @media(min-width: @screen-mw-desktop) {
    display: none !important;
  }
}

.clearfix {

  &::before,
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.btn {
  border: none;
  padding: unit(8/@df-fs, rem);

  &.focus,
  &:focus {
    box-shadow: none;
  }
}

.mobi-display-collapse {
  display: flex;

  .button-search {
    background-color: @c-383;
    font-size: 24px;
    margin-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dropdown-ask {
    .mobi-dropdown-menu {

      border-radius: 6px;
      font-size: 16px;
      color: #36b662;
      background: #fff;
      width: 121px;
      height: 35px;
      padding: 0;

      .icon-arrow-down {

        font-size: 11px;
        color: black;
        margin-right: 10px;
      }

      .icon-question-circle {

        font-size: 20px;
        margin-left: 9px;
        margin-right: 5px;

      }
    }
  }
}

.navbar-maxdino {
  @media(max-width: @screen-mobile) {
    height: 116px;
  }

  background-color: @c-383;
  border: none;
  border-radius: 0;
  color: @c-fff;



  .navbar-brand {
    @media(max-width: @screen-mobile) {
      width: 100%;
    }

    margin-right: 0;



    img {
      @media(max-width: @screen-mobile) {
        max-width: 131px;
      }
    }
  }

  .navbar-toggler {
    @media(max-width: @screen-mobile) {
      padding: 0;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      width: 24px;
      height: 24px;
    }
  }

  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #36b662;
          padding: 0;
          font-size: 24px;
          width: 13.3vw;
          height: 39px;
          border-radius: 6px;
          background: @c-fff;
          margin-right: 30px;
          margin-left: 20px;

          .icon-question-circle {
            line-height: 1.5;
            padding-right: 6px;
            padding-left: 10px;
          }

          .ask {
            font-size: 16px;
          }

          .icon-arrow-down {
            padding-right: 10px;
            font-size: 10.1px;
            color: black;
          }
        }
      }

      form {
        width: 39.6vw;
        height: 39px;
        position: relative;
        display: table;
        color: #a9aaad;

        .form-button-search {
          position: absolute;
          color: black;
          border-bottom-left-radius: 19px;
          border-top-left-radius: 19px;
          z-index: 1;
          height: 39px;
          background: @c-fff;
          border: none;
          padding-left: 10px;

          &:hover {
            background: #36b662;
          }

          .icon-search {
            font-size: 24px;
            vertical-align: middle;
          }
        }

        .form-input-search {
          position: absolute;
          border-radius: 19px;
          padding-left: 44px;
          width: 39.6vw;
          height: 39px;
          border: none;
        }
      }

      &.navbar-noti-img-dropdown {
        width: 165px;
        height: 39px;
        padding-left: 45px;

        .nav-noti {
          font-size: 22.5px;
          margin-right: 20px;
        }

        .nav-img {
          width: 37px !important;
          height: 37px;
          margin-right: 7px;

          a {
            img {
              margin-right: 7px;
            }

            display: flex;
            align-items: center;

            .icon-arrow-down {
              font-size: 10.1px;
            }
          }

        }
      }
    }
  }
}

.container {
  @media (min-width: 1200px) {
    max-width: 1170px;
    padding: 0;
  }
}

.section {
  @media(max-width: @screen-mobile) {
    margin-top: 25px;
  }
  border-radius: 5px;
  background-color: @c-fff;
  padding: 15px 20px;
  margin-top: 20px;

  .container {
    @media (min-width: 1200px) {
      max-width: 1170px;
      padding: 0;
    }
  }

  .section-title {
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 2px solid @c-f9f;
    text-transform: uppercase;

    a {
      float: right;
      .clear-both;
      color: @c-36b;
      text-transform: none;
    }
  }

  &.section-news {
    background: none;
    border-radius: 0;
    padding: 0;

    .item-news {
      position: relative;

      .item-news-img {
        img {
          @media(max-width: @screen-mobile) {
            height: 177px;
          }
        }
      }

      .item-news-content {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
        color: @c-fff;
        padding: 10px;
        font-size: 12px;

        .item-news-title {
          font-size: 14px;
          font-weight: bold;
        }

        .item-news-detail {
          margin: 5px 0 5px 0;
        }

        .collapse {
          &:not(.show) {
            height: 35px !important;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }

        .collapsing {
          min-height: 35px !important;
        }

        a {
          &.collapsed {
            &:after {
              content: '+ Read More';
              color: #36b662;
            }
          }

          &:not(.collapsed)::after {
            content: '- Read Less';
            color: #36b662;
          }
        }

        .item-news-name {
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }

  &.section-video {
    .item-video {
      margin-top: 20px;

      .item-video-img {
        position: relative;
        margin-bottom: 10px;

        a {
          position: absolute;
          font-size: 45px;
          color: @c-fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .item-video-title {}
    }
  }

  &.section-connection {
    .item-connection {
      padding: 10px 0;
      position: relative;

      .item-connection-img {
        position: absolute;
        top: 10px;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .item-connection-content {
        padding-left: 40px;

        .user-name {
          color: @c-36b;
        }

        span {
          color: @c-a9a;
        }

        .text {
          color: @c-383;
        }
      }
    }
  }

  &.section-post {
    padding: 20px;
    box-shadow: 0 15px 27px 0 rgba(56, 58, 74, 0.1);

    +div {
      margin-top: 20px;
    }

    &.feed {


      .item-feed {
        .dropdown {
          .section-post-left {

            font-size: 15px;
            position: absolute;
            right: 0;
            z-index: 10;
          }
        }
      }
    }

    .head-post {
      position: relative;

      .avatar-user {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }

      .head-post-content {
        padding-left: 52px;

        .head-post-name-user {
          font-weight: bold;
          font-size: 14px;
          color: @c-36b;
          position: relative;
        }

        .head-post-story-subtitle {
          color: #a9aaad;
          margin-top: 3px;

          >div {
            display: inline;
          }

          .date {
            .icon-calendar {
              font-size: 14px;
              margin-right: 4px;
            }

            span {
              font-size: 12px;
              margin-right: 10px;
            }
          }

          .public {
            >div {
              display: inline;
            }

            .icon-public {
              margin-right: 4px;
              color: #057FF1;
            }

            .dropdown {
              font-size: 12px;

              a {
                .everyone {
                  margin-right: 6px;
                }

                .icon-arrow-down {
                  font-size: 10.1px;

                }
              }
            }
          }
        }
      }
    }

    .content-post {
      .form-group {
        .form-control {
          @media(max-width: @screen-mobile) {
            font-size: 16px;
          }

          font-size: 18px;


        }
      }

      .feed-text {
        margin-top: 12px;
      }

      .post-feed {
        .post-feed-content {
          .post-feed-title {
            font-size: 16px;
            margin-top: 10px;
          }

          .post-feed-info {
            font-size: 14px;
            margin-top: 13px;

            .post-feed-info-link {
              padding-top: 10px;
              color: #36b662;

              >a {
                margin-right: 10px;
              }
            }
          }

          .post-feed-detail {
            font-size: 12px;
            margin-top: 5px;

            .post-feed-detail-link {
              padding-top: 10px;
              color: #36b662;
            }
          }
        }
      }

    }

    .content-post {
      .form-group {
        .form-control {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          padding: 0;
          margin-top: 13px;
        }
      }
    }

    .footer-post {
      .ratting {
        display: inline;
        font-size: 12px;

        &.mobi-ratting-like {
          margin-right: 31px;
        }

        .icon-like {
          font-size: 21px;
          vertical-align: -2px;
          margin-right: 7px;
        }

        .icon-comment {
          font-size: 21px;
          vertical-align: -2px;
          margin-right: 7px;
        }
      }

      .row {
        .footer-post-icon-left {
          @media(max-width: @screen-mobile) {
            padding-right: 0;
          }

          color: #a9aaad;
          font-size: 20.8px;
          padding: 0;



          a {
            >span {
              padding-right: 5px;
            }
          }
        }


        .footer-post-on-icon {
          @media(max-width: @screen-mobile) {
            padding-left: 0;
            margin-left: 0;
          }

          font-size: 12px;
          color: #383a4a;




          .justify-content-end {
            >span {
              font-size: 24px;
              margin-left: 10px;
            }

            .icon-icon-facebook {
              color: #3B5998;
            }

            .icon-icon-twitter {
              color: #a9aaad;
            }

            .also-post-on {
              @media(max-width: @screen-mobile) {
                padding-left: 0;
                margin-left: 0;
              }

              font-size: 12px;


            }

          }
        }
      }
    }
  }
}